In [1]:
import pandas as pd
import numpy as np

In [6]:
win_rates = pd.read_csv('win_rates.csv')
country_aggs = pd.read_csv('fuller_countries.csv')

In [7]:
country_aggs

     Overall  Release Clause              Country    Region
0       66.0          1.0345          afghanistan       AFC
1       69.0          2.6000              albania      UEFA
2       73.5         10.1500              algeria       CAF
3       75.0         11.8000               angola       CAF
4       63.0          0.5250  antigua-and-barbuda  CONCACAF
..       ...             ...                  ...       ...
115     75.0         11.5000        united-states  CONCACAF
116     79.5         23.7500              uruguay  CONMEBOL
117     69.5          2.7500            venezuela  CONMEBOL
118     72.5          7.9500                wales      UEFA
119     69.0          2.9000             zimbabwe       CAF

[120 rows x 4 columns]

In [5]:
win_rates

         home_team  home_wins
0         Abkhazia   0.888889
1      Afghanistan   0.621622
2          Albania   0.594771
3         Alderney   0.000000
4          Algeria   0.809129
..             ...        ...
298     Yugoslavia   0.805556
299         Zambia   0.849138
300       Zanzibar   0.540541
301       Zimbabwe   0.822485
302  Åland Islands   0.666667

[303 rows x 2 columns]

In [9]:
win_rates['home_team'] = win_rates['home_team'].str.lower()
win_rates['home_team'] = win_rates['home_team'].str.replace(' ','-')

In [10]:
df = country_aggs.merge(win_rates, left_on='Country', right_on=('home_team'))

In [11]:
df.head()

,Overall,Release Clause,Country,Region,home_team,home_wins
0,66.0,1.0345,afghanistan,AFC,afghanistan,0.609756
1,69.0,2.6000,albania,UEFA,albania,0.598901
2,73.5,10.1500,algeria,CAF,algeria,0.801347
3,75.0,11.8000,angola,CAF,angola,0.801136
4,63.0,0.5250,antigua-and-barbuda,CONCACAF,antigua-and-barbuda,0.621622

In [12]:
df = df[['Country','Region','Overall','home_wins','Release Clause']]

In [13]:
from sklearn.preprocessing import StandardScaler

def scale(j,col_name):

    scaler = StandardScaler()
    scaler.fit(np.array(j[col_name]).reshape(-1, 1))
    j[col_name] = scaler.transform(np.array(j[col_name]).reshape(-1, 1))

In [14]:
scale(df,'Overall')
scale(df,'home_wins')
scale(df,'Release Clause')

In [17]:
df['value'] = df.Overall + df.home_wins + df['Release Clause']

In [18]:
df = df.rename(columns={'Country':'country', 'Region':'region', 'value':'value'})

In [19]:
df = df[['country','region','value']]

In [22]:
df.to_csv('countries_v2.csv',index=False)

In [34]:
country_aggs.Region.value_counts()

UEFA        41
CONCACAF    16
CAF         13
CONMEBOL    10
AFC          4
Name: Region, dtype: int64

In [31]:
for name in list(df.sort_values('value',ascending=False)['country'][0:31]):
    print(name)
    
## NOT THE DEFINITIVE LIST

egypt
brazil
spain
portugal
france
england
germany
argentina
uruguay
netherlands
senegal
italy
croatia
ivory-coast
tunisia
mexico
morocco
serbia
russia
angola
ukraine
belgium
denmark
united-states
algeria
ghana
montenegro
switzerland
sweden
colombia
poland