In [21]:
import pandas as pd
import numpy as np

In [2]:
win_rates = pd.read_csv('win_rates.csv')
country_aggs = pd.read_csv('country_aggs_detail.csv')

In [9]:
win_rates['home_team'] = win_rates['home_team'].str.lower()

In [14]:
df = country_aggs.merge(win_rates, left_on='Country', right_on=('home_team'))

In [16]:
df.head()

,Unnamed: 0,Overall,Release Clause,Country,Region,home_team,home_wins
0,0,66.0,1.0345,afghanistan,AFC,afghanistan,0.621622
1,1,69.5,3.0000,albania,UEFA,albania,0.594771
2,2,73.5,10.1500,algeria,CAF,algeria,0.809129
3,3,75.0,11.8000,angola,CAF,angola,0.808140
4,5,79.0,25.7000,argentina,CONMEBOL,argentina,0.875000

In [17]:
df = df[['Country','Region','Overall','home_wins','Release Clause']]

In [23]:
from sklearn.preprocessing import StandardScaler

def scale(j,col_name):

    scaler = StandardScaler()
    scaler.fit(np.array(j[col_name]).reshape(-1, 1))
    j[col_name] = scaler.transform(np.array(j[col_name]).reshape(-1, 1))

In [24]:
scale(df,'Overall')
scale(df,'home_wins')
scale(df,'Release Clause')

In [25]:
df

        Country    Region   Overall  home_wins  Release Clause
0   afghanistan       AFC -0.917454  -0.765408       -0.722191
1       albania      UEFA -0.263559  -0.984285       -0.534790
2       algeria       CAF  0.483748   0.763100        0.146927
3        angola       CAF  0.763989   0.755037        0.304246
4     argentina  CONMEBOL  1.511296   1.300066        1.629542
..          ...       ...       ...        ...             ...
79      ukraine      UEFA  0.577162   0.836899        0.218436
80      uruguay  CONMEBOL  1.417883   1.272821        1.267231
81    venezuela  CONMEBOL -0.263559  -0.698168       -0.558627
82        wales      UEFA  0.203508  -0.212562       -0.172479
83     zimbabwe       CAF -0.356973   0.871979       -0.544325

[84 rows x 5 columns]

In [26]:
df['value'] = df.Overall + df.home_wins + df['Release Clause']

In [27]:
df = df.rename(columns={'Country':'country', 'Region':'region', 'value':'value'})

In [29]:
df = df[['country','region','value']]

In [32]:
df.to_csv('countries_fifascore_price_winrate.csv',index=False)

In [34]:
country_aggs.Region.value_counts()

UEFA        41
CONCACAF    16
CAF         13
CONMEBOL    10
AFC          4
Name: Region, dtype: int64