In [1]:
import pandas as pd
df = pd.read_csv("tests/resources/teamValueTest.csv")
df

     country    region  value
0  Argentina  CONMEBOL     60
1     Brazil  CONMEBOL     40
2  Australia       AFC     99

In [2]:
from sklearn.preprocessing import StandardScaler
import math
scaler = StandardScaler()
df.value = scaler.fit_transform(df.value.to_numpy().reshape(-1, 1))
df.value = df.value.transform(lambda x: 1 / (1 + math.exp(-x)))
df

     country    region     value
0  Argentina  CONMEBOL  0.435730
1     Brazil  CONMEBOL  0.254481
2  Australia       AFC  0.791397

In [6]:
df = pd.read_csv("tests/resources/teamValueTest2.csv")
df

        country    region      value
0   Afghanistan       AFC  64.000000
1       Albania       UFA  66.547619
2       Algeria       CAF  71.625000
3       Andorra       UFA  63.000000
4        Angola       CAF  68.333333
5     Argentina  CONMEBOL  69.613990
6       Armenia       UFA  70.000000
7         Aruba  CONCACAF  68.000000
8     Australia       AFC  63.055172
9       Austria       UFA  66.516260
10   Azerbaijan       UFA  59.250000
11      Bahrain       AFC  71.000000
12      Belarus       UFA  65.500000
13      Belgium       UFA  67.907801
14       Belize  CONCACAF  63.000000
15        Benin       CAF  67.357143
16      Bermuda  CONCACAF  67.000000
17      Bolivia  CONMEBOL  63.125000
18       Brazil  CONMEBOL  72.192355

In [87]:
df.loc[df.region == "AFC"].country.to_list()

['Afghanistan', 'Australia', 'Bahrain']

In [74]:
df.at[df.loc[df.country == "Brazil"].index.item(), "value"] += 1
df

        country    region      value
0   Afghanistan       AFC  64.000000
1       Albania       UFA  66.547619
2       Algeria       CAF  71.625000
3       Andorra       UFA  63.000000
4        Angola       CAF  68.333333
5     Argentina  CONMEBOL  69.613990
6       Armenia       UFA  70.000000
7         Aruba  CONCACAF  68.000000
8     Australia       AFC  63.055172
9       Austria       UFA  66.516260
10   Azerbaijan       UFA  59.250000
11      Bahrain       AFC  71.000000
12      Belarus       UFA  65.500000
13      Belgium       UFA  67.907801
14       Belize  CONCACAF  63.000000
15        Benin       CAF  67.357143
16      Bermuda  CONCACAF  67.000000
17      Bolivia  CONMEBOL  63.125000
18       Brazil  CONMEBOL  73.192355

In [32]:
import itertools
pairs = list(itertools.combinations(df.loc[df.region == "AFC"].country, 2))

In [43]:
df.loc[df.country == pairs[0][0]].value.item()

64.0

In [93]:
import json
f = open("tests/resources/qualificationModel.json",)

regions = json.load(f).keys()


tableDict = {region:pd.DataFrame([], columns = ["country", "points"]) for region in regions}
countries = ["America", "France", "Germany"]
scores = [5, 11, 4] 

for i in range(3):tableDict["UEFA"] = tableDict["UEFA"].append({"country": countries[i], "points": scores[i]}, ignore_index=True)
tableDict

{'UEFA':    country points
 0  America      5
 1   France     11
 2  Germany      4,
 'CONMEBOL': Empty DataFrame
 Columns: [country, points]
 Index: [],
 'CONCACAF': Empty DataFrame
 Columns: [country, points]
 Index: [],
 'CAF': Empty DataFrame
 Columns: [country, points]
 Index: [],
 'AFC': Empty DataFrame
 Columns: [country, points]
 Index: [],
 'OFC': Empty DataFrame
 Columns: [country, points]
 Index: [],
 'playoffs': Empty DataFrame
 Columns: [country, points]
 Index: []}

In [114]:
#.sort_values('score',ascending = False).groupby('pidx').head(2)
tableDict["UEFA"].sort_values('points',ascending = False).reset_index(drop=True).iloc[1].country

'America'

In [126]:
df.at[df.loc[df.country == "Aruba"].index.item(), "region"] = "playoffs"
df.loc[df.region == "playoffs"].country.item()

'Aruba'